<div class="page-container">
  <div class="sign-in-wrapper">
    <h2 class="sign-in-text">Sign in</h2>
    <div class="sign-in-account">
      <p class="missing-account-text">Don't have an account?</p>
      <a [routerLink]="'/' + ROUTE_SIGN_UP" class="sign-up-link">Sign up</a>
    </div>
    <div class="sign-in-container">
      <form [formGroup]="signInForm" class="email-input-form">
        <mat-form-field class="email-input-full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                 placeholder="example@cleverpine.com">
          <mat-error *ngIf="signInForm.get('email')!.hasError('email') && !signInForm.get('email')!.hasError('required')">
            Please enter a valid e-mail address
          </mat-error>
          <mat-error *ngIf="signInForm.get('email')!.hasError('required')">
            E-mail is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="password-input-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="signInForm.get('password')!.hasError('password') && !signInForm.get('password')!.hasError('required')">
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="signInForm.get('password')!.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      
      <p class="required-fields-text">
        Fields that are marked with * sign are required.
      </p>
      <button class="sign-in-btn"
              mat-raised-button color="primary"
              [disabled]="signInForm.invalid"
              (click)="submitForm($event)">
        Sign In
      </button>
      <div class="forgotten-password-wrapper">
        <p class="forgotten-password-text">Forgot your password?</p>
        <a [routerLink]="'/' + ROUTE_RESET_PASSWORD" class="reset-password-link">Reset password</a>
      </div>
    </div>
  </div>
</div>
